* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   
    
}
body {
    background-color: #303030;
    overflow-x: hidden;
    background-size: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: change-background;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    flex-direction: column;
}
@media(max-width: 400px){
    .navbar{
        margin: 0;
    }
}
.section img {
    width: 20px;
    height: 20px;
    
}
.nav-item{
display:flex;
flex-direction: row;
gap: 1rem;
align-items: center;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;

}

.container {
    background: linear-gradient(
  0deg,
  rgba(29, 29, 29, 0.8) 91%,
  rgb(23, 23, 23) 70%
);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 50px 0;
    width: 75%;
    padding: 1rem 1.5rem;
    height: auto;
    


}
@keyframes change{
    0%{clip-path: circle(15% at 0 0);
        background: linear-gradient(70deg, #cc003d, #FF004D);
        color: #d4d4d4;}

    100%{
        clip-path: circle(150% at 0 0);
        background: linear-gradient(70deg, #cc003d, #FF004D);
        color: #d4d4d4;
    }

}
@keyframes change-container{
    0%{clip-path: circle(15% at 50% 100%);
        background: linear-gradient(70deg,  #ffe3e3, #ebd3d3);
    }

    100%{
        clip-path: circle(100% at 0% 100%);
        background: linear-gradient(70deg #ffe3e3, #ebd3d3);
        
    }

}
@keyframes change-background{
    0%{clip-path: circle(15% at 0% 0%);
        background: linear-gradient(70deg,  #d4d4d4, #d4d4d4);}
        

    100%{
        clip-path: circle(150% at 0% 0%);
        background: linear-gradient(70deg #d4d4d4, #d4d4d4);
        
    }

}
@keyframes hert {
    0% {
        
        opacity: 0.5;
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
        
    }
    70% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0.7;
        transform: scale(1.1);
    }
}
.navbar {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    margin: 0.2rem 0rem 5.5rem 0;
  

}
.nome {
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 400;
   

}
.btn-menu {
    display: flex;
    border: none;
    font: inherit;
    background: none;
}
.hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
    border-color: #d4d4d4;
    cursor: pointer;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: #d4d4d4;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
.section {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 12px;
    margin: 16px 0;
    background-color: #33333383;
    align-items: center;
    border-radius: 10px;
    height: 3em;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    gap: 10px;
}
.container-items {
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.title {
    color: #d4d4d4;
    font-size: 22px;


}

.btn-container {
    background-color: #d4d4d4;
    cursor: pointer; 
    margin: 24px 0;
    padding: 6px 20px;
    border-radius: 25px;
    transition: 1.5s ease;
    transition: 0.5s ease;
   
    transition: 1s ease;
    font-size: 0.8rem; 
    padding: 10px 25px;
    
}
.botao {
    margin: 0 auto 0.5rem;
}
.btn-container.active { 
    cursor: pointer; 
    margin: 24px 0;
    padding: 6px 20px;
    border-radius: 25px;
    transition: 1.5s ease;
    transition: 0.5s ease;
    animation-name: change;
    animation-duration: 1.5s ;
    animation-fill-mode: forwards;
    transition: 1s ease;
    font-size: 0.8rem; 
    padding: 10px 25px;
    
    
}
.btn-container a {
    color: #d4d4d4;
    transition: 1s;
    font-weight: 700;
}

.btn-container:hover {
    background-color: #7a7a7a;
    
}

.section h4{
    color: #d4d4d4;
    font-weight: 500;
    font-size: 14px;
}
.heart {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    right: 100px;
    top: 50%;
    animation-name: hert;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    fill: #ff004cd0;
}
.menu {
    visibility: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    top: 80px;
    right: 10px;
    color: #d4d4d4;
    background-color: #1d1d1db2;
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 25px 10px rgba(3, 3, 3, 0.527);
    text-align: center;
    z-index: 3;
    width: 60%;
    height: 50%;
    border-radius: 20px;
    font-weight: 500;
    
    

}
.navbar.change .menu li {
    border: none;
}
.heart.active{
    position: absolute;
    visibility: visible;
    z-index: -1;
    right: 100px;
    top: 50%;
    fill: #ff004cd0;
    transition: 1s;
    transition-delay: 0.2s;
    
    animation-name: hert;
    animation-duration: 2s;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg {
    z-index: 1;
}

.navbar.change .menu{
    
        visibility:hidden;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
        position: absolute;
        top: 80px;
        right: 10px;
        color: #1d1d1d;
        background: linear-gradient(to top, #d50040, #ff004cd0) ;
        backdrop-filter: blur(5px);
        box-shadow: none;
        text-align: center;
        z-index: 50;
        width: 60%;
        height: 50%;
        border-radius: 20px;
        font-weight: 500;
        border: none;
        
        
    
    }

     .heart.active {
        z-index: 1;
    }
    .heart.rem {
        z-index: -1;
    }
    .navbar.change .menu a{
    
        color: #d4d4d4;
        font-size: 16px;
        font-weight: 600;
    
    }

.circle {
    clip-path: circle(50% at 0 0);
}

.menu a {
    color: #d4d4d4;
    font-size: 16px;
    font-weight: 500;
}
.navbar.active .menu {
    
    visibility: visible;
    overflow-y: auto;
  }
  .navbar.change.active .hamburger {
    border-top-color: transparent;
    z-index: 8;
    cursor: pointer;
  }
  .navbar.active .hamburger {
    border-top-color: transparent;
    z-index: 8;
    cursor: pointer;
  }

  .navbar.active .hamburger::before {
    transform: rotate(135deg);
    z-index: 8;
  }
  .navbar.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
    z-index: 8;
  }
body.active {
    background-color: #fff;
}
  .menu li{
 
    width: 100%;
    height: 50%;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
  }
  .menu:hover li{
    border: none;
  }
  .menu li:hover{
    border-radius: 10px;
    border: none;
    background-color: #00000054;
  }

  .fundo {
    visibility: hidden;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #000000d0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
  }
  .fundo.active {
    visibility:visible;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #000000d0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    display: flex;
  }
.seila {
    width: 1.5rem;
    border-radius: 20px;
    height: 3px;
    background-color: #d4d4d4;
    transform: rotate(135deg);
    z-index: 30;
    position: absolute;
    top: 8.5rem;
    right: 1.2rem;
    cursor: pointer;
    
}
.seila::after{
    content: "";
    width: 1.5rem;
    display: block;
    border-radius: 20px;
    height: 3px;
    background-color: #d4d4d4;
    transform: rotate(-90deg);
}
 
  .imagem {

    z-index: 11;
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }

  .container.active {
    background: linear-gradient(to top, #ffe3e3, #ebd3d3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 50px 0;
    width: 75%;
    padding: 2rem 1.5rem;
    animation-name: change-container;
    animation-duration: 1s;
    


}
.container-items.active {
    visibility: hidden;
}

.navbar.change .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
    border-color: #1d1d1d;
    cursor: pointer;
  }
  .navbar.change .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: #1d1d1d;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  
  }
  .navbar.change .hamburger::after {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: #1d1d1d;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
   
  }
  .navbar.change .nome {
    color: #1d1d1d;
  }
  .resultado {
    visibility: hidden;
    transition-delay: 0.1s;
    width: 100%;
   position: relative;
   top: -110px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resultado.active {
    visibility:visible;
   
    width: 100%;
   position: relative;
   top: -110px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .resultado h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #cc003d;
  }